*{
    box-sizing: border-box;
}
#Fondo{
		background-color:#A9CCE3;
        width: 100%;
        height: 100px;
        vertical-align: middle;
}
	
h1{
		text-align: center;
}
p{
		text-align: center;
}

.registro{
		width: 400px;
		background: #8be1f7;
		padding: 30px;
		margin: auto;
		margin-top: 100px;
		border-radius:4px;	
		font-family: 'calibri';
		color: BLACK;

}
.control{
		width: 100%;
		background: #fafdffbd;
		padding: 10px;
		border-radius:4px;
		margin-bottom: 16px;
		font-family: 'calibri';
		font-size: 18px;
}
.boton{
		width: 100% ;
		background: #292929;
		border: none;
		padding: 10px;
		color: rgb(245, 244, 244);
		margin: 10px 0;
		font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
}
.boton:hover{
        color: #145f91;
        background-color: #2980B9;
        text-decoration: none;
}
.footer{
    background-color: #145f91;
    padding: 1px;
}
.footer p{
    color: azure;
    margin: 5px 5px 5px 30px;
	
}
.container{
	width: 1100px;
	display:flex;
	flex-direction: row;
	margin-left: 10px;
}
